<!DOCTYPE html>
<html>
<head>
  <title>Classifieds</title>
  <%= stylesheet_link_tag    "classifieds/application", media: "all" %>
  <%= javascript_include_tag "classifieds/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
